.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #ff652f;
  font-size: .8rem;
}

.form .input-group input:valid + label {
    transform: translateY(-18px);
    color: #ff652f;
    font-size: .8rem;
  }